<div class="column is-one-quarter">
        <section class="section">
          <div class="container" style="width:100%">
            <p class="title is-3">
              Hi, my name is <a href="/">Tristan</a>.
            </p>
            <p class="subtitle is-5">
              I am a maker, gardener, and computer enthusiast.
            </p>
            <p>
              You can see some of my presentions
              <a href="https://tristansokol.github.io/Presentations/">here</a>.
            </p>
            <p>
              You can see personal website here:
              <a href="https://tristansokol.com">here</a>.
            </p>
            <br />
            <p>
              See me elsewhere on the internet:
            </p>


            <nav class="level is-mobile">
              <a target="_blank" href="https://www.linkedin.com/in/tristansokol" title="Tristan on LinkedIn">
                <span class="icon is-medium level-item">
                  <img src="/assets/images/main/linkedin-icon.svg" />

                </span>
              </a>
              <a target="_blank" href="https://medium.com/@tristansokol" title="Tristan on Medium">
                <span class="icon is-medium level-item">

                  <img src="/assets/images/main/medium-icon.svg" />

                </span>
              </a>
              <a target="_blank" href="https://github.com/tristansokol" title="Tristan on GitHub">
                <span class="icon is-medium level-item">

                  <img src="/assets/images/main/octocat.svg" />

                </span>
              </a>
              <a target="_blank" href="http://stackoverflow.com/users/4541769/tristansokol" title="Tristan on StackOverflow">
                <span class="icon is-medium level-item">

                  <img src="/assets/images/main/stackoverflow-icon.svg" />

                </span>
              </a>
              <a target="_blank" href="https://twitter.com/tristansokol" title="Tristan on Twitter">
                <span class="icon is-medium level-item">

                  <img src="/assets/images/main/twitter-icon.svg" />

                </span>
              </a>
            </nav>

            <br />
          </div>

          <small style="color:#666;">
            Made in Oakland | © 2012 - '18 | 🙇🏻‍
          </small>
        </section>


      </div>
