---
 layout: new
---

<div id="main" class="columns  is-gapless" style="margin-bottom:0px">
    {%- include left.html -%}
  <div class="column " style="position: relative;">
    <section class="section" style="background-color: rgb(235, 235, 235);box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10, 10, 10, 0.15);height: 100vh; overflow: scroll; padding:1.5rem">
        {% for post in paginator.posts %}
        <article class="box" >
          <div class="content">
              <strong class="post-title" style="font-size: 24px">
                <a href="{{ site.baseurl }}{{ post.url }}">
                  {{ post.title }}
                </a>
              </strong>
              <small>
                <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%B %-d %Y" }}</time>
              </small>
              {% if post.image %}
              <img src="{{post.image}}" alt="{{post.image_alt}}" />
              {% endif %}
              <br> {{ post.excerpt }}
        </article>
        {% endfor %}
        <div class="pagination">

          <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
            {% if paginator.next_page %}
            <a class="pagination-next" href="{{ paginator.next_page_path | prepend: site.baseurl }}" style="background-color: white">Older</a>
            {% else %}
            <a disabled class="pagination-next">Older</a>
            {% endif %} {% if paginator.previous_page %}
            <a class="pagination-previous" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" style="background-color: white">Newer</a>
            {% else %}
            <a disabled  class="pagination-previous">Newer</a>
            {% endif %}
          </nav>
          <p class="rss-subscribe">subscribe
            <a href="{{ " /feed.xml " | relative_url }}">via RSS</a>
          </p>
        </div>
        <!--
        {%- if site.posts.size > 0 -%}
          <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
          <ul class="post-list">
            {%- for post in site.posts -%}
            <li>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>
{%- endif -%}
-->
    </section>
    </div>
  </div>
