<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}">

    <link rel="icon" type="image/png" href="/assets/images/main/favicon.ico">
    <title>The best Tristan you know</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta name="author" content="Tristan Sokol">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% if page.layout == "post" %}
    <!-- Twitter -->
    {% if page.image %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ site.url }}{{page.image}}">
    {% else %}
      <meta name="twitter:card" content="summary">
    {% endif %}
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape | truncate: 200 }}">
    <meta name="twitter:site" content="@tristansokol">
    <meta name="twitter:creator" content="@tristansokol">

    <!-- Facebook -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape | truncate: 200 }}">
    {% if page.image %}
      <meta property="og:image" content="{{ site.url }}{{page.image}}">
    {% endif %}
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="{{ site.title }}">

    <!-- Google -->
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape | truncate: 200 }}">
    {% if page.image %}
      <meta itemprop="image" content="{{ site.url }}{{page.image}}">
    {% endif %}
  {% endif %}
  {% include google_analytics.html %}
    <style>
        html,
        body {
            min-height: 100%
        }

        a,
        h3.title {
            color: rgb(92, 22, 190);
        }
    </style>
</head>

<body>

    {{ content }}


</body>

</html>
